<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kmeans
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
        integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

   
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <section class="LSA">
        <h1 class="section__title section__title--Kmeans">
            <strong>Latenet Sematic Analysis (LSA) Search Engine</strong>
        </h1>
        
        <input type="string" class="input-number" placeholder="Enter a number" id="UserInput" />
        
        <div class="button-container">
            <button class='glowing-btn' onclick = "search()">
                <span class='glowing-txt'>Step <span class='faulty-letter'>Through </span>Kmeans</span>
            </button>
        </div>

    </section>
    <script src="../static/script.js"></script>
   

</body>

</html>